.container {
    margin: 20px auto;
}
.box-form  {
    background-color: #8DACCC;
    border-radius: 25px;
    padding: 50px 70px;
}

.header {
    text-align: center;
}

.h1{
    margin-bottom: 40px;
    color: #003060;
}

.h5 {
    text-align: center;
    margin-top: 10px;
}

.btn-warning, .btn-info, .btn-primary {
    width: 100%;
}

.icon{
    height: 25px;
}

.text {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}


img.back-login{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;

}