.react-container {
  background-color: #003060;
  max-width: 100%;
  text-align: justify;
  padding-top: 13%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-right: 5%;
  color: #003060;
  font-family: 'Poppins';
  background-size: cover;
  background-color: azure;
}

.materi {
  color: black;
  padding-left: 60%;
  padding-top: 0%;
}

.button-primary {
  width: 160px;
  height: 45px;
  background-color: #003060;
  border: none;
  font-size: 16px;
  color: azure;
  font-weight: 400;
}
